
/*--------------------------------------------------------------
# Global Settings
--------------------------------------------------------------*/

@font-face {
    font-family: 'Agustina';
    src: url('/assets/fonts/Agustina.woff') format('woff');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('/assets/fonts/DancingScript-Medium.ttf') format('truetype');
}


/* Global Variables */
:root{
    --font-family: 'Rubik', sans-serif;
    --primary-color: #6d0a0a;
    --secondary-color: #52030e;
    --tertiary-color: #12c2e9;
    --primary-gradient-color: linear-gradient(90deg,#e64157,#415de6);
    --secondary-gradient-color: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
    --underline-gradient: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    --vertical-gradient: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
    --transition-default: all .4s ease;
}   

body{
    font-family: var(--font-family);
    font-weight: 300;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

a:hover{
    color: var(--secondary-color);
}

/* Dark Mode */
[data-bs-theme="dark"] {
    position: relative;
    color: rgb(255, 255, 255/1);
    z-index: 0;
}

[data-bs-theme="dark"]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000 url(https://images.assetsdelivery.com/compings_v2/askanchanacharoen/askanchanacharoen2108/askanchanacharoen210800096.jpg) 50% no-repeat;
    background-size: cover;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    z-index: -1;
}

/* Dark Mode styles */
[data-bs-theme="dark"] {
    --text-color: #fff;
    --muted-text: #ffffff;
    --bg-color: #212121;
    --btn-color: #fff;
    --offcanvas-bg: rgba(0,0,0,0.9);
    --offcanvas-border-color: rgba(255, 255, 255, 0.2);
}

/* Light Mode */
[data-bs-theme="light"] {
    position: relative;
    color: rgb(255, 255, 255/1);
    z-index: 0;
}

[data-bs-theme="light"]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-texture-background-texture-silk-ray-image_15900.jpg) 50% no-repeat;
    background-size: cover;
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    z-index: -1;
}

/* Light Mode styles */
[data-bs-theme="light"] {
    --text-color: #000;
    --muted-text: #000;
    --bg-color: #fff;
    --btn-color: #fff;
    --offcanvas-bg: rgba(215, 215, 215, 0.9);
    --offcanvas-border-color: rgba(255, 255, 255, 0.2);
}

*::selection {
    color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 5px;
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--vertical-gradient);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
}

.social-icons a{
    color: var(--text-color);
    font-size: 25px;
    margin-right: 3px;
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

.social-icons a:hover{
    color: var(--primary-color);
}

.logo-name{
    font-family: 'Agustina', 'Rubik', sans-serif;
    font-size: 1.2rem;
}

.primary-bg-btn{
    color: var(--btn-color);
    background-color: var(--primary-color);
    border: none;
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

.primary-bg-btn:hover{
    color: var(--text-color);
    background-color: none;
    border: 1px solid var(--bg-color);
    transform: translate(0, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.primary-outline-btn{
    color: var(--btn-color);
    background-color: none;
    border-color: var(--primary-color);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

.primary-outline-btn:hover{
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    transform: translate(0, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.secondary-bg-btn{
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: none;
}

.secondary-bg-btn:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
    border: 1px solid var(--bg-color);
    transform: translate(0, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.tertiary-bg-btn{
    color: var(--text-color);
    background-color: var(--tertiary-color);
    border: none;
    transform: translate(0, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.tertiary-bg-btn:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
    border: 1px solid var(--bg-color);
}

.in-progress{
    text-wrap: nowrap;
    background-color: rgba(255, 156, 9, 0.15);
    color: rgb(255, 156, 9);
}

.underline{
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: var(--underline-gradient);
}

.underline:hover {
    color: var(--secondary-color);
}

.theme-button{
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.theme-text{
    background: var(--secondary-gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-heading{
    font-family: 'Dancing Script',var(--font-family);
    margin: 18px 0px;
}

.cursor-not-allowed{
    cursor: not-allowed!important;
}

.muted-text{
    color: var(--muted-text);
}

/* Preloader */
#preloader {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    animation: fadeOutPreloader 1s linear 1s forwards;
    -webkit-animation: fadeOutPreloader 1s linear 1s forwards;
}

@keyframes fadeOutPreloader {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/

#header{
    background: transparent;
    transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
}

.fixed-top{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

    @media (max-width: 767px) {
        #switchTheme{
            display: flex;
            justify-content: end;
            flex-grow: 1;
        }
    }

#header .navbar{
    backdrop-filter: 20px;
    -webkit-backdrop-filter: 20px;
    padding: 15px 0;
}

.navbar .toggle-icon{
    color: var(--text-color);
    font-size: 28px;
}

.navbar-toggler:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.offcanvas{
    background-color: var(--offcanvas-bg);
}

.offcanvas.show ul {
    position: absolute;
    justify-content: flex-start!important;
    top: 76.9px;
    left: 15px;
    right: 15px;
    bottom: 15px; 
    padding: 10px 15px;
    transition: none;
    -webkit-transition: none;
    border: 2px solid var(--offcanvas-border-color);
}

.fixedHeaderNavbar{
    position: fixed;
    height: 100vh;
}

.navbar-nav > li > .nav-link {
    position: relative;
    font-size: 15px;
    border-bottom: none;
    transition: width 0.35s ease;
    -webkit-transition: width 0.35s ease;
}

.navbar-nav > li > .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: var(--underline-gradient);
}

.navbar-nav > li > .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-image: var(--underline-gradient);
    transition: width 0.35s ease;
    -webkit-transition: width 0.35s ease;
}

.navbar-nav > li > .nav-link:hover::after {
    width: 100%;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    position: relative;
    padding: 120px 0 50px 0; 
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-weight: 500;
    font-size: 120%;
}

#hero .hero-content {
    position: relative;
    margin-top: -10%;
   
}

#hero .name {
    background: var(--primary-gradient-color);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#hero .badge-button {
    margin-bottom: 15px;
}

#hero .tagline {
    letter-spacing: 1.5px;
    color: var(--muted-text);
}

#hero .call-to-action {
    display: flex;
    justify-content: center; 
    margin-top: 1rem;
    position: relative; 
}

#hero .call-to-action button {
    background-color: #4b0978;
    color: white; 
    padding: 10px 20px; 
    border-radius: 9px; 
    cursor: pointer; 
}

#hero .call-to-action button:hover {
    background-color: #8a4242; 
}

@media (max-width: 576px) {
    #hero {
        padding: 35px 0 0 0;
        min-height: auto; 
    }

    #hero .hero-content {
        margin-top: 0;
        
    }

    #hero .btn-showcase {
        font-size: 12px;
    }

    #hero .tagline {
        font-size: 14px;
        letter-spacing: 1.2px;
    }

    #hero .social-icons a {
        font-size: 25px;
        padding: 0 5px;
    }

    #hero .call-to-action {
        margin-top: 0;
    }
}



/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about{
    padding: 100px 0px;
    min-height: 100vh;
}

.about-portrait{
    display: flex;
    padding: 30px 0px 30px 0px;
    justify-content: center;
    align-items: center;
}

.about-portrait::before {
    content: "";
    background-color: transparent;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -2;
    box-shadow: 2px 2px 0px inset var(--primary-color), -2px -2px 0px inset transparent;
    -webkit-box-shadow: 2px 2px 0px inset var(--primary-color), -2px -2px 0px inset transparent;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

.about-portrait:hover::before {
    transform: translate(-23px,-23px);
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

.about-portrait::after {
    content: "";
    background-color: transparent;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -2;
    box-shadow: 2px 2px 0px inset transparent, -2px -2px 0px inset var(--primary-color);
    -webkit-box-shadow: 2px 2px 0px inset transparent, -2px -2px 0px inset var(--primary-color);
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

.about-portrait:hover::after {
    transform: translate(35px,30px);
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

.about-portrait .pic{
    width: 70%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 12px 8px 0px 0px #41036b;
    -webkit-box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 12px 8px 0px 0px #4b0978;
}

#about .bio{
    padding: 30px 0 30px 0;
    color: var(--muted-text);
    font-size: 21px;
    font-weight: 250;
    word-spacing: 5px;
}

    @media (max-width: 576px) {
        .about-portrait{
            display: flex;
            padding: 30px 36px 30px 36px;
        }
        .about-portrait .pic {
            width: 90%;
        }
        #about .bio{
            font-size: 14px;
            padding: 30px 15px 30px 15px;
        }
    }

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/

#skills{
    padding: 100px 0px;
    min-height: 100vh;
}

.skill{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    padding: 18px 0px;
    border-radius: 25px;
    backdrop-filter: blur(300px);
    -webkit-backdrop-filter: blur(300px);
    box-shadow: 0 0 1px 0 rgba(144,81,227,.5), 0 0 0.5px 0.5px rgba(141,53,229,.336);
    -webkit-box-shadow: 0 0 1px 0 rgba(144,81,227,.5), 0 0 0.5px 0.5px rgba(141,53,229,.336);
}

.skill-image{
    width: 71px;
    padding: 8px;
}

.skill-name{
    letter-spacing: 2px;
    font-size: 17px;
    padding-top: 5px;
    margin: 0;
}


/*--------------------------------------------------------------
# Timeline Section
--------------------------------------------------------------*/

#timelines{
    padding: 100px 0px 80px 0px;
}

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/

#projects{
    padding: 100px 0px 80px 0px;
    min-height: 100vh;
}

.project-card{
    background-color: transparent;
    padding: 10px;
    border-radius: 24px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 1px 0 rgba(144,81,227,.5), 0 0 0.5px 0.5px rgba(141,53,229,.336);
    -webkit-box-shadow: 0 0 1px 0 rgba(144,81,227,.5), 0 0 0.5px 0.5px rgba(141,53,229,.336);
}

.project-card .title {
    position: relative;
    font-size: 18px;
    text-decoration: none;
}

.project-card .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-image: var(--underline-gradient);
    transition: width 0.35s ease;
    -webkit-transition: width 0.35s ease;
}

.project-card .title:hover::after {
    width: 100%;
}

.project-card .tagline,
.project-card .stacks,
.project-card .description {
    font-size: 11px;
    color: var(--muted-text);
}

.project-card .in-progress{
    font-size: 11px;
    border-radius: 32px;
}

.project-card .icon{
    max-width: 70%;
}

.project-card .description-container{
    padding-left: inherit;
}

.project-card .description{
    font-size: 14px;
}

.project-card .banner-container{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.project-card .banner{
    border-radius: inherit;
}

.project-card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    border-radius: inherit;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
}

.project-card .banner-container:hover .overlay {
    opacity: 0.9;
}

.project-card .overlay a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.project-card .overlay i {
    position: absolute;
    font-size: 25px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-card .primary-bg-btn {
    background-color: #4b0978;
}

.project-card .primary-bg-btn:hover {
    background-color: transparent;
    border: 1px solid var(--bg-color);
}



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

#contact{
    padding: 100px 0;
    min-height: 100vh;
}

.contact-form{
    padding: 35px;
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 1px 0 rgba(79, 17, 161, 0.5), 0 0 0.5px 0.5px rgba(141, 53, 229, .336);
    -webkit-box-shadow: 0 0 1px 0 rgba(144, 81, 227, .5), 0 0 0.5px 0.5px rgba(141, 53, 229, .336);
}

.contact-form .form-control{
    padding: 0.775rem 1.05rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.contact-form .form-control:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #850dd5;
}

.contact-form .btn{
    background-color: #480774;
}


/*--------- Back To Top ------------*/

#backToTopButton{
    display: none;
    position: fixed;
    right: 10px;
    bottom: 0px;
    z-index: 999;
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}


#backToTopButton:hover{
    color: var(--primary-color);
    transform: translate(0, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
